.navbar{
	position: fixed;
}

.navbar-bg-one{

	background: none;

}

.nav-link-one{
	color: #000 !important;
}

.nav-link-two{
	color: #fff !important;
}

.navbar-bg-two{

	background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.nav-link{
	color: #fff;
	font-size: 18px;
	margin-right: 20px;

}

.nav-link-two{
	color: #000;
}

#contactPageHeader{

	height: 50vh !important;
	min-height: min-content;
	background: linear-gradient(rgba(0, 0 ,0 , .60), rgba(0, 0 ,0 , .60)),url('Resources/pictures/contactPageMain.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	max-height: 350px;

}

#contactPageHeaderText{
	color: #fff;
	font-family: 'Roboto';
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#contactPageHeaderText h1{

	font-weight: 700;
	font-size: 45px;

}

#contactPageHeaderText h4{

	font-weight: 400;
	font-size: 35px;
	padding-top: 16px;

}

#contactPageHeaderBottom{
	text-align: center;
	padding-top: 60px;
	font-size: 30px;
	font-weight: 600;
	color: #101820;
}

#contactFormSubmit{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*Properties of the form elements*/
.formElement{
	border: 1px solid rgba(0,0,0,0.1);
    height: 55px !important;
    background: #e6e6e6 !important;
    color: #000 !important;
    font-size: 18px;
    border-radius: 0px;
    width: 100%;
    padding: .5rem .75rem;
    outline: 0;
}

.formElementLastTwo{
	margin-top: 30px;
}

/*Properties of the text area*/

.formElementTextarea{
	height: 160px !important;
	width: 80%;
	position: relative;
	left: 80%;
	transform: translateX(-80%);
}

/*Properties of the contact button*/

.formElementButton{
	background: #FDA403 !important;
	color: #fff !important;
	cursor: pointer !important;
	transition: color 0.3s !important;
	font-size: 15px !important;
	width: 80%;
	position: relative;
	left: 80%;
	transform: translateX(-80%);
	margin-top: 18px;
}


@media only screen and (max-width: 992px) {

	.formElementTextarea{
		width: 100%;
		margin-top: 30px;
	}

	.formElementButton{
		width: 100%;
	}


}

