body,html{
	height: 100%;
}


.navbar-nav.navbar-center {
    position: absolute;
    margin-top : 50px;
    left: 50%;
    transform: translatex(-50%);
}

.nav-link{
	color : #EE1E4F;
	font-size: 18px;
	margin-left: 10px;
}

#phoneSmall{
	display: none;
}

#sectionTop{
	height: 100%;
	width: 100%;
	background: linear-gradient(rgba(0, 0 ,0 , .70), rgba(0, 0 ,0 , .70)),url('Resources/Pictures/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	max-height: 1000px;
}

#phone{
	margin-top: 70px;
}

#topContent{
	max-width: 500px;
}

#topMessage{
	padding-top: 160px;
}

.topMessageContents{
	color : #EE1E4F;
	padding-left: 40px;
	font-size: 18px;
}

#logo{
	height: 200px;
}


#topMessageContentsSecond{
	padding-top: 10px;
}

#topBadges{
	padding-top: 60px;
	padding-left: 30px;
	padding-bottom: 30px;

}

#google{
	width: 200px;

}

#apple{
	width: 200px;
	margin-left: 10px;
}

@media only screen and (max-width: 992px) {

	body{
		display: block !important;
	}

	#logo{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	#topContent{
	max-width: 1000px;
	}

	.topMessageContents{
		text-align: center;
	}

	#topBadges{
		padding-left: 0;
	}

	#topBadges img{

		position: relative;
		left: 30%;
		transform: translateX(-30%);

	}

	#phone{
		display: none;
	}

	#phoneSmall{
		display: block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding-top: 30px;
		height: 500px;
	}


}